@attribute [Route(Urls.Dashboard)]

<PageTitle>Dashboard</PageTitle>

<MudGrid id="dashboard-header" Justify="Justify.Center">
    @if(IsWidgetDataReady)
    {
        <MudItem xs="12">
            <MudStack Row="true" Spacing="6" Justify="Justify.SpaceBetween">
                <MudPaper Height="120px" Width="210px">
                    <MudStack Justify="Justify.Center" AlignItems="AlignItems.Center" Class="py-5 px-5">
                        <MudText Typo="Typo.h6">Total</MudText>
                        <MudText Typo="Typo.h5"><b>@WidgetData.Total</b></MudText>
                    </MudStack>
                </MudPaper>
                <MudPaper Height="120px" Width="210px">
                    <MudStack Justify="Justify.Center" AlignItems="AlignItems.Center" Class="py-5 px-5">
                        <MudText Typo="Typo.h6">Paused</MudText>
                        <MudText Typo="Typo.h5"><b>@WidgetData.Paused</b></MudText>
                    </MudStack>
                </MudPaper>
                <MudPaper Height="120px" Width="210px">
                    <MudStack Justify="Justify.Center" AlignItems="AlignItems.Center" Class="py-5 px-5">
                        <MudText Typo="Typo.h6">Active</MudText>
                        <MudText Typo="Typo.h5"><b>@WidgetData.Active</b></MudText>
                    </MudStack>
                </MudPaper>
                <MudPaper Height="120px" Width="210px">
                    <MudStack Justify="Justify.Center" AlignItems="AlignItems.Center" Class="py-5 px-5">
                        <MudText Typo="Typo.h6">Recent Changes</MudText>
                        <MudText Typo="Typo.h5"><b>@WidgetData.ChangeDetected</b></MudText>
                    </MudStack>
                </MudPaper>
            </MudStack>
        </MudItem>
    }

    @if(IsDataLoaded)
    {
        @if(Resources.Any())
        {
            @foreach(var resource in Resources)
            {
                <MudItem xs="12">
                    <MudPaper Class="py-2 px-2">
                        <div class="py-4 px-2">
                            <MudStack Row="true" Spacing="1" class="pb-3">
                                <MudText Typo="Typo.h6">@resource.DisplayName</MudText>
                            </MudStack>
                            @if (TargetsByResourceId.TryGetValue(resource.Id, out var targets) && targets.Any())
                            {
                                <MudStack>
                                    @foreach(var target in targets)
                                    {
                                        <MudStack Row="true" Class="d-flex align-items-center">
                                            <MudText Class="pt-2 pb-1" style="width: 180px;">@target.DisplayName</MudText>
                                            <MudStack Row="true" style="width: 650px;" Class="pt-2 pb-1">
                                                @foreach(var snapshot in SnapshotsByTargetId[target.Id])
                                                {
                                                    <MudTooltip Text="@GetSnapshotTooltipText(snapshot)" Placement="Placement.Top" Arrow="true">
                                                        <MudPaper Height="20px" Width="20px" Outlined="true" Class="@GetSnapshotStyle(snapshot)"></MudPaper>
                                                    </MudTooltip>
                                                }
                                            </MudStack>
                                            <MudIconButton 
                                                Disabled="SnapshotsByTargetId[target.Id].All(snapshot => snapshot is null)" 
                                                Style="height: 20px; width: 20px; margin-top: 5px;"
                                                Icon="@Icons.Material.Filled.List"
                                                OnClick="@(() => OpenSnapshotHistoryAsync(target))"/>
                                        </MudStack>
                                        <MudDivider/>
                                    }
                                </MudStack>
                            }
                            else
                            {
                                <MudText>No Targets available</MudText>
                            }
                        </div>
                    </MudPaper>
                </MudItem>
            }
        }
        else
        {
            <MudItem xs="12">
                <MudPaper Class="py-4 px-4">
                    <MudText Typo="Typo.body1" Align="Align.Center">No Resources available</MudText>
                </MudPaper>
            </MudItem>
        }
    }
</MudGrid>

@code {
    private static string GetSnapshotStyle(TargetSnapshotDto snapshot)
    {
        if (snapshot is null)
        {
            return "border-dashed";
        }

        if (snapshot.Outcome is Outcome.Failure)
        {
            return "border-solid mud-theme-error";
        }

        if (snapshot.Outcome is Outcome.Success && !snapshot.IsChangeDetected)
        {
            return "border-solid";
        }

        if (snapshot.Outcome is Outcome.Success && snapshot.IsExpectedValue)
        {
            return "border-solid mud-theme-success";
        }

        return "border-solid mud-theme-primary";
    }
    
    private static string GetSnapshotTooltipText(TargetSnapshotDto snapshot)
    {
        if (snapshot is null)
        {
            return "N/A";
        }

        if (snapshot.Outcome is Outcome.Failure)
        {
            return $"Error - {snapshot.CreatedAt}";
        }

        if (snapshot.Outcome is Outcome.Success && !snapshot.IsChangeDetected)
        {
            return $"No changes - {snapshot.CreatedAt}";
        }

        if (snapshot.Outcome is Outcome.Success && snapshot.IsExpectedValue)
        {
            return $"Expected value detected - {snapshot.CreatedAt}";
        }

        return $"Changes detected - {snapshot.CreatedAt}";
    }
}
