@attribute [Route(Urls.Home)]
@attribute [Route(Urls.Resources)]

<PageTitle>Resources</PageTitle>

<MudGrid id="resources-header" Justify="Justify.Center">
    <MudItem xs="12">
        <MudPaper Class="py-2 px-2">
            <div class="py-2 px-2">
                <MudText Typo="Typo.h5" Align="Align.Left">Resources</MudText>
                <MudText Typo="Typo.subtitle1" Align="Align.Left">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quos blanditiis tenetur</MudText>
            </div>
        </MudPaper>
    </MudItem>
    <MudItem xs="12">
        <MudPaper Class="py-2 px-2">
            <MudStack>
                <div>
                    <MudDataGrid T="ResourceDto" Items="@Resources" SortMode="SortMode.Multiple" Elevation="0">
                        <ToolBarContent>
                            <MudText Typo="Typo.h6">Resources</MudText>
                                <MudSpacer />
                                <MudButton OnClick="AddResourceAsync" Variant="Variant.Filled" Color="Color.Primary">
                                    <MudText>Add</MudText>
                                </MudButton>
                        </ToolBarContent>
                        <Columns>
                            @if(UserAppSettings.AreItemIdColumnsEnabled)
                            {
                                <TemplateColumn Title="Id">
                                    <CellTemplate>@(GuidHelper.ConvertToString(context.Item.Id))</CellTemplate>
                                </TemplateColumn>
                            }
                            <PropertyColumn Property="x => x.DisplayName" Title="Display Name" />
                            <PropertyColumn Property="x => x.Description" Title="Description" />
                            <TemplateColumn CellClass="d-flex justify-end">
                                <CellTemplate>
                                    <MudIconButton Size="@Size.Small" Icon="@Icons.Material.Outlined.Edit" OnClick="@(() => UpdateResourceAsync(context.Item))"/>
                                    <MudIconButton Size="@Size.Small" Icon="@Icons.Material.Outlined.Delete" OnClick="@(() => RemoveResourceAsync(context.Item.Id))"/>
                                </CellTemplate>
                            </TemplateColumn>
                        </Columns>
                        <PagerContent>
                            <MudDataGridPager T="ResourceDto" PageSizeOptions="UserAppSettings.GridPageSizeOptions" />
                        </PagerContent>
                        <NoRecordsContent>
                            <MudText>No records available.</MudText>
                        </NoRecordsContent>
                    </MudDataGrid>
                </div>
            </MudStack>
        </MudPaper>
    </MudItem>
</MudGrid>
